@import "../base/fonts";

.description {
  &__title {
    padding-top: 55px;
    padding-bottom: 21px;
  }

  &__block {
    position: relative;
    font-family: "Open Sans";
    font-style: italic;
    font-size: 16px;
    img {
      position: absolute;
    }
    &.-quote {
      padding-left: 58px;
      padding-top: 10px;
      color: #1a1a1a;
    }
    &.-autor {
      padding-left: 58px;
      padding-top: 38px;
      font-size: 16px;
      color: #777777;
    }
  }
}

@media (max-width: 767px) {
  .description {
    &__block {
      font-size: 14px;
    }
  }
}
