@import "../base/fonts";

.header {
  padding-top: 80px;
  max-width: 739px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;

    &.-text {
      font-family: "Consolas";
      padding: 0 28px 0 28px;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      color: $blue-color;
    }
  }

  &__line {
    display: flex;
    align-items: center;

    p {
      height: 1px;
      width: 143px;
      background-color: $line-color;
    }

    &.-long {
      padding-top: 50px;

      p {
        height: 1px;
        width: 738px;
        background-color: $line-color;
      }
    }
  }

  &__img {
    position: relative;

    &.-image {
      overflow: auto;

      &::-webkit-scrollbar {
        height: 4px;
        width: 0%;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #0062ff;
      }
      &::-webkit-scrollbar-track {
        background-color: #e6e6e6;
      }
    }

    &.-date {
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 120px;
      height: 100px;
      left: 20px;
      top: 13px;
      background: rgba(255, 255, 255, 0.9);

      p {
        position: relative;
        font-family: "Merriweather";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        color: #1a1a1a;

        img {
          position: absolute;
          top: 12px;
          right: 31px;
          width: 5px;
          height: 5px;
        }

        &.-month {
          padding-top: 5px;
          font-size: 17px;
        }
      }
    }
  }

  &__description {
    padding-top: 20px;

    p {
      font-family: "Arial";
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #202326;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__box {
      flex-direction: column-reverse;
    }

    &__img {
      &.-date {
        display: none;
      }

      &.-image {
        width: 100%;
      }
    }

    &__title {
      padding-left: 20px;
      padding-right: 20px;
      &.-text {
        font-size: 23px;
      }
    }

    &__description {
      padding: 0 20px 26px 20px;
    }

    &__line {
      p {
        width: 30px;
      }

      &.-long {
        display: none;
      }
    }
  }
}
