@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/consolas.ttf") format("truetype");
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.ttf") format("truetype");
}
